{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <title>ورود</title>

    <link rel="stylesheet" href="{% static '1-authorisation.css' %}">
</head>

<body>
    <form class="login" method="post" action="{% url 'accounts:survey' %}">
        {% csrf_token %}
        <div class="username-input" >
            <label>
                :نام کاربری خود را وارد کنید
                <br> <input type="text"  name="username">
            </label>
        </div>

        <div class="password-input">
            <label>
                :رمز عبور خود را وارد کنید
                <br> <input type="password" name="password">
            </label>
            <br>
        </div>
        <button type="submit">Sign in</button>

        <div class="forgot-pass">
            <br>
            <a href="#">نام کاربری یا رمزعبور خود را فراموش کرده ام</a>
        </div>

</body>

</html>