<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>سامانه نظرسنجی</title>
    <link rel="stylesheet" href="2-survey-system.css">
</head>
<body>
<div class="option-box">
    <div class="options">
        <a href="./3-create-survey.html">افزودن نظرسنجی جدید</a>
    </div>
    <div class="options">
        <a href="./4-modify-survey.html">تغییر نظرسنجی های ساخته شده</a>
    </div>
    <div class="options">
        <a href="./5-results.html">دیدن نتایج نظرسنجی</a>
    </div>
</div>
</body>
</html>